@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: kmitl;
  background-color: #f2f2f2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.limit-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@layer components {
  .h1 {
    @apply text-[96px] leading-[91px] font-bold;
  }

  .h2 {
    @apply text-[60px] leading-[57px] font-bold;
  }

  .h3 {
    @apply text-[48px] leading-[45px] font-bold;
  }

  .h4 {
    @apply text-[34px] leading-[128.91%] font-bold;
  }

  .h5 {
    @apply text-[24px] leading-[134.77%] font-bold;
  }

  .h6 {
    @apply text-[24px] leading-[23px] font-bold;
  }

  .subtitle1 {
    @apply text-[24px] leading-[23px] font-normal;
  }

  .subtitle2 {
    @apply text-[20px] leading-[19px] font-bold;
  }

  .bodyBig {
    @apply text-[20px] leading-[30px] font-normal;
  }

  .body1 {
    @apply text-[16px] leading-[26px] font-normal;
  }

  .body2 {
    @apply text-[14px] leading-[20px] font-normal;
  }

  .caption {
    @apply text-[12px] leading-[16px] font-normal;
  }
}
