@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Regular.woff2");
}

@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Italic.woff2");
  font-style: italic;
}

@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Light\ Italic.woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: kmitl;
  src: url("../assets/fonts/KMITLGO\ Bold\ Italic.woff2");
  font-weight: 700;
  font-style: italic;
}
